* {
    margin: 0px;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    background-color: white;
}

header {
    background: linear-gradient(to bottom, #d6d6da, white);
    padding: 20px;
}

h1,
h2,
h4,
h5,
h6 {
    background: linear-gradient(to bottom, #425d44, #89ab8f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 50px;
}

h2 {
    margin-top: 15px;
    padding: 10px;
}

h3 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    background-color: #1b7759;
    padding: 10px 0 10px 10px;
}

ul {
    padding: 5px;
}

li {
    list-style: none;
}

li:nth-child(2) p  {
    font-family: 'Rakkas', cursive;
}

img {
    width: 120px;
    border-radius: 100%;
}

img:hover {
    transform: scale(1.25);
    box-shadow: 1px 10px 10px rgb(194, 194, 194);
    background-color: white;
}

.grid-item img {
    width: 100px;
    float: right;
    padding-right: 10px;
    transition: all 1s ease;
}


/* https://css-tricks.com/snippets/css/clear-fix/ */

section:after {
    content: "";
    display: table;
    clear: both;
}

.grid-item {
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(223, 222, 222);
}

#grid-floats {
    max-width: 100%;
    margin: auto;
}

#grid-floats .grid-item {
    float: left;
    margin: 15px;
}

#grid-floats .grid-item p {
    width: 80%;
    padding: 30px;
}

#grid-flex {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

#grid-flex .grid-item {
    margin: 15px;
    flex: 1 0 90%;
}

#grid-flex .grid-item p {
    width: 80%;
    padding: 30px;
}


/* grid 600px - 1024px+ */

@media (min-width: 600px) {
    #grid-floats .grid-item {
        height: 330px;
        width: calc(33.333333% - 30px);
    }
    #grid-flex .grid-item {
        flex-basis: 25%;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    #grid-floats .grid-item:nth-child(-n + 2) {
        width: calc(50% - 30px);
    }
    #grid-flex .grid-item:nth-child(-n + 2) {
        flex-basis: 40%;
    }
    /*  grid - 600  */
}


/* grid 1024px+ */

@media (min-width: 1024px) {
    #grid-floats .grid-item {
        width: calc(25% - 30px);
    }
    #grid-floats .grid-item:first-child {
        width: calc(50% - 30px);
    }
    #grid-flex .grid-item {
        flex-basis: 20%;
    }

    #grid-flex .grid-item:first-child {
        flex-basis: 45%;
    }
}
